.task {
  width: 100%;
  padding: 0 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.75rem;
  gap: 0.5rem;
}

.input {
  width: 100%;
  height: 3.37rem;
  padding: 1rem;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border-radius: 0.5rem;
  border: 0;
  animation: 1s;
}

.input:placeholder-shown {
  border: 1px solid var(--gray-500);
  color: var(--gray-300);
}

.input:not(placeholder-shown),
.input:focus {
  border: 1px solid var(--purple-dark);
  color: var(--white);
}
